#rotate{
  transform: rotate(10deg);
}

#skew{
  transform: skew(10deg);
}

#all{
  transform: skew(20deg) rotate(30deg);
}

@keyframes animate{
  from(background-color: blue;)
  to(background-color: pink;)
}

#animate{
  width:100px;
  height:100px;
  background-color:blue;
  animation-name: animate;
  animation-duration: 1s
}